<nav id="main-nav">
  <div class="nav-container">
    <a href="/projects" class="brand">
      <img class="brand-img" src="/images/logo.png" alt="">
      <span class="brand-title">Color Saver</span>
    </a>

    <form action="/sessions?_method=DELETE" method="POST">
      <input class="nav-link" type="submit" value="Logout" />
    </form>
  </div>
</nav>
