<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <div class="splash" style="background-image: <%= randomGradient %>;">
      <div class="form-wrapper">
        <div class="index-container">
          <div class="index-logo">
            <img class="index-img" src="/images/logo.png" alt="">
            <span class="index-title">Color Saver</span>
          </div>
          <div class="">
            <a class="btn btn-black" href="/sessions/new">Log In</a>
            <span>or</span>
            <a class="btn btn-black" href="/users/new">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
