<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="container">
      <nav class="top-element projects-nav" id="secondary-nav">
        <a
          class="btn btn-black"
          href="/projects/new"
        >
          <i class="fas fa-plus"></i> Project
        </a>
      </nav>
      <div class="flex-grid">
        <% for (let project of projects) { %>
          <div class="item-wrapper">
            <a class="item project-item" href="/projects/<%= project.id %>">
              <div
                class="color-id"
                style="background: <%= project.color %>;"
              ></div>
              <h2><%= project.title %></h2>
              <p><%= project.description %></p>
            </a>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
