<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <style media="screen">
    @media(max-width: 768px) {
      .flex-page {
        <% if (message.length > 0) { %>
          height: 110vh;
        <% } %>
      }
    }
  </style>
  <body>
    <div class="flex-page">
      <% include ../partials/nav.ejs %>
      <div
        class="flex-center-background"
        style="background-image: <%= randomGradient %>;"
      >
        <div class="form-wrapper">
          <a class="back-btn" href="/projects">
            <i class="fas fa-arrow-left"></i> Go Back
          </a>
          <div class="form-container">
            <div class="icon-wrapper">
              <i class="fas fa-folder-plus"></i>
            </div>
            <h3>New Project</h3>
            <% if (message.length > 0) { %>
              <p class="error-message">
                <%= message %>
              </p>
            <% } %>
            <form action="/projects" method="POST">
              <label for="title">Title</label>
              <input id="title" type="text" name="title" />
              <label for="description">Description</label>
              <textarea
                id="Description"
                name="description"
              ></textarea>
              <input class="btn btn-green submit" type="submit" value="Create" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
