<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Project Page</h1>
    <a href="/projects/<%= project.id %>/edit">Edit</a>
  </body>
</html>
