<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <style media="screen">
    @media(max-width: 768px) {
      .flex-page {
        <% if (message.length > 0) { %>
          height: 110vh;
        <% } %>
      }
    }
  </style>
  <body>
    <div class="flex-page">
      <nav id="main-nav">
        <div class="nav-container">
          <a href="/projects" class="brand">
            <img class="brand-img" src="/images/logo.png" alt="">
            <span class="brand-title">Color Saver</span>
          </a>
        </div>
      </nav>

      <div
        class="flex-center-background"
        style="background-image: <%= randomGradient %>;"
      >
        <div class="form-wrapper">
          <a class="back-btn" href="/">
            <i class="fas fa-arrow-left"></i> Go Back
          </a>
          <div class="form-container">
            <div class="icon-wrapper">
              <i class="fas fa-sign-in-alt"></i>
            </div>
            <h3>Log In</h3>
            <% if (message.length > 0) { %>
              <p class="error-message">
                <%= message %>
              </p>
            <% } %>
            <form action="/sessions" method="POST">
              <label for="username">Username</label>
              <input type="text" id="username" name="username">
              <label for="password">Password</label>
              <input type="password" id="password" name="password">
              <input class="btn btn-black submit" type="submit" value="Log In">
            </form>
          </div>
        </div>
      <div>
    </div>
  </body>
</html>
