<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if (message.length > 0) { %>
      <p class="error-message">
        <%= message %>
      </p>
    <% } %>
    <h1>New User</h1>
    <form action="/users" method="POST">
      <input type="text" name="username">
      <input type="password" name="password">
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>
