<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Color</h1>
    <form class="" action="/projects/<%= projectId %>/colors" method="POST">
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="value" placeholder="Hex or RGB value" />
      <input type="submit" value="Create">
    </form>
  </body>
</html>
