<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="flex-page">
      <% include ../partials/nav.ejs %>
      <div
        class="flex-center-background"
        style="background-image: <%= randomGradient %>;"
      >
        <div class="form-wrapper">
          <a class="back-btn" href="/projects/<%= projectId %>">
            <i class="fas fa-arrow-left"></i> Go Back
          </a>
          <div class="form-container">
            <div class="icon-wrapper">
              <i class="fas fa-plus"></i>
            </div>
            <h3>New Color</h3>
            <%= message %>
            <form action="/projects/<%= projectId %>/colors" method="POST">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" placeholder="Name" />
              <label for="value">Value (Hex or RGB)</label>
              <input
                type="text"
                id="value"
                name="value"
                placeholder="Ex. #FF0000, rgb(255, 0, 0)"
              />
              <input class="btn btn-green submit" type="submit" value="Create">
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
