<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="splash" style="background-image: <%= randomGradient %>;">
      <div class="form-wrapper">
        <h1>404</h1>
        <p>Color was not found.</p>
      </div>
    </div>
  </body>
</html>
